<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up Page</title>
    <link rel="stylesheet" href="style.css" />
</head>

<body>

    <div class="signup-container">
        <form class="signup-form">
            <h2>Create Account</h2>

            <div class="input-group">
                <label for="inputName">Full Name</label>
                <input type="text" placeholder="Enter your full name" required id="inputName" />
            </div>

            <div class="input-group">
                <label for="email">Email</label>
                <input type="email" placeholder="Enter your email" required id="inputEmail" />
            </div>

            <div class="input-group">
                <label for="pass">Password</label>
                <input type="password" placeholder="Enter password" required id="pass" />
            </div>

            <div class="input-group">
                <label for="cpass">Confirm Password</label>
                <input type="password" placeholder="Confirm password" required id="cpass" />
            </div>

            <button type="submit">Sign Up</button>

            <p class="login-text">
                Already have an account?
                <a href="#" id="loginLink">Login</a>
            </p>
        </form>
    </div>
    <div class="signup-container" id="loginContainer" style="display: none;">

        <form class="signup-form" id="loginform">
            <h2>Login</h2>

            <div class="input-group">
                <label for="loginEmail">Email</label>
                <input type="email" placeholder="Enter your email" required id="loginEmail" />
            </div>

            <div class="input-group">
                <label for="loginPass">Password</label>
                <input type="password" placeholder="Enter password" required id="loginPass" />
            </div>

            <button type="submit">Login</button>

            <p class="login-text">
                Don't have an account?
                <a href="#" id="signupLink">Signup</a>
            </p>
            <p class="login-text">
                <a href="#" id="forgotPasswordLink">Forgot Password?</a>
            </p>

        </form>

    </div>
   <div class="signup-container" id="forgotPasswordContainer" style="display:none;">

    <!-- Email Form -->
    <form class="signup-form" id="forgotPasswordForm">

        <h2>Forgot Password</h2>

        <div class="input-group">
            <label for="forgotEmail">Email</label>
            <input
                type="email"
                id="forgotEmail"
                placeholder="Enter your registered email"
                required
            />
        </div>

        <button type="submit" id="sendOtpBtn">
            Send OTP
        </button>

        <p class="login-text">
            <a href="#" id="backToLogin">
                Back to Login
            </a>
        </p>

    </form>

    <!-- OTP Form -->
    <form
        class="signup-form"
        id="otpForm"
        style="display:none;"
    >

        <h2>Verify OTP</h2>

        <p
            id="otpSentEmail"
            style="
                text-align:center;
                margin-bottom:15px;
                color:#666;
            "
        ></p>

        <div class="input-group">
            <!-- <label for="otpInput">OTP</label> -->
            <input
                type="text"
                id="otpInput"
                placeholder="Enter OTP"
                required
            />
        </div>

        <button type="submit" id="verifyOtp">
            Verify OTP
        </button>
         <p class="login-text">
            <a href="#" id="resendOtp">Resend OTP</a>
        </p>

    </form>
    <form
    class="signup-form"
    id="resetPasswordForm"
    style="display:none;"
>

    <h2>Reset Password</h2>

    <p
        id="resetPasswordEmail"
        style="
            text-align:center;
            margin-bottom:15px;
            color:#666;
        "
    ></p>

    <div class="input-group">
        <input
            type="password"
            id="newPassword"
            placeholder="Enter New Password"
            required
        />
    </div>

    <button type="submit">
        Update Password
    </button>

</form>

</div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="./script.js"></script>
</body>

</html>